div style='text-align: right; width: 1000px'
  | 最終取得日時
  b#last_trade_at

.table.mt20
  .table-cell.left#price_table
  .table-cell.right#right_column
    = render 'info_and_action'

div#disparity
table
  tr
    td
      #worker_statuses
    td
      #worker_button = link_to 'show jobs', '#'
      #workers
div#my_trade_table

javascript:
  $(function() {
    $.ajax('/prices.js', { type: 'GET', timeout: 1000 }).success(function(){
      build_trade_link();
    })
    $.ajax('/my_trade_ships.js', { type: 'GET', timeout: 500 });
    $.ajax('/worker_statuses.js', { type: 'GET', timeout: 1000 });
    #{"$.ajax('/api/disparities.js', { type: 'GET', timeout: 1000 });".html_safe if BF::Setting.record.enabled_calc_disparity}
    setInterval(function(){
      $.ajax('/prices.js', { type: 'GET', timeout: 1500 }).
        success(function(data, textStatus, jqXHR) { $('body').css('background-color', 'white') }).
        fail(function(jqXHR, textStatus, errorThrown) { $('body').css('background-color', 'yellow') });
    }, 1000);
    setInterval(function(){
      $.ajax('/my_trade_ships.js', { type: 'GET', timeout: 1000 });
    }, 10000);
    setInterval(function(){
      $.ajax('/worker_statuses.js', { type: 'GET', timeout: 1000 });
      build_trade_link()
    }, 5000);

    #{"setInterval(function(){ $.ajax('/api/disparities.js', { type: 'GET', timeout: 1000 }); }, 2000);".html_safe if BF::Setting.record.enabled_calc_disparity}
  });
