/ - button_name = BF::Setting.enable_fetch? ? '最終取引価格の取得を停止する' : '最終取引価格の取得を開始する'
/ = link_to button_name, toggle_fetch_path, method: :put

= render 'shared/header'

p style='height:30px'
  span data-role='buy_1'
  br
  span data-role='buy_5'

div#trade_table
div#price_table
table
  tr
    td
      div#worker_statuses
    td
      #worker_button = link_to 'show jobs', '#'
      #workers

div#my_trade_table

javascript:
  $(function() {
    $.get('/prices.js');
    $.get('/my_trades.js');
    $.get('/worker_statuses.js');
    setInterval(function(){ $.get('/prices.js'); }, 1000);
    setInterval(function(){ $.get('/my_trades.js'); }, 4000);
    setInterval(function(){ $.get('/worker_statuses.js'); }, 2000);
    setInterval(function(){ build_trade_link() }, 5000);
  });

  $(document).on('click', '#worker_button', function() {
    if($('#workers table').size() >= 1) {
      $('#workers').children().remove();
    } else {
      $.get('/resque/workers.js');
    }
    return false;
  })

  function build_trade_link() {
    $('[data-role="buy_1"]').toggle('fast')
    var  min_price = parseInt($('[data-name=min_1_price]').text());
    $('[data-role="buy_1"]').children().remove()
    var a_tag = `<a data-method='post' data-remote=true data-method="post" href='/my_trades?price=${min_price}'>${min_price}</a>`
    $("[data-role='buy_1']").append($(a_tag));
    $('[data-role="buy_1"]').toggle('fast')

    $('[data-role="buy_5"]').toggle('slow')
    var min_price = parseInt($('[data-name=min_5_price]').text());
    $('[data-role="buy_5"]').children().remove()
    var a_tag = `<a data-method='post' data-remote=true data-method="post" href='/my_trades?price=${min_price}'>${min_price}</a>`
    $("[data-role='buy_5']").append($(a_tag));
    $('[data-role="buy_5"]').toggle('fast')
  }
