- worker_count = @worker_statuses.values.sum
- working_count = @worker_statuses[:working] || 0
p
  | workerの稼働率: #{(working_count / worker_count.to_f) * 100.to_i} % (#{working_count}/#{worker_count})
