h1 Charts
p
  = link_to '前日', charts_path(day: (@current_day.to_date - 1.day).to_s)
p
  = link_to '翌日', charts_path(day: (@current_day.to_date + 1.day).to_s)

table
  tr
    td style='vertical-align: top' data-role='max_price'
    td rowspan=3
      canvas id="chart" width="500" height="500"
  tr
    td
  tr
    td style='vertical-align: bottom' data-role='min_price'

javascript:
  canvasObj = document.getElementById('chart');

  canvasContext = ()=>{
    return(document.getElementById('chart').getContext('2d'));
  }

  get_day = (date)=>{
    $.get("/charts/" + date + "/day").
      success((response) => {
        var prev_trade = undefined;
        $('[data-role=min_price]').html(response.min_price);
        $('[data-role=max_price]').html(response.max_price);

        $.each(response.trades, (index, trade)=>{
          if(prev_trade === undefined){
            prev_trade = trade;
            return true;
          }
          draw_one_line(prev_trade, trade);
          prev_trade = trade;
        })
      })
  }
  draw_one_line = (from_trade, to_trade)=>{
    x = convert_to_x_point(from_trade.time);
    y = convert_to_y_point(from_trade.min_price);
    canvasContext().beginPath();
    canvasContext().moveTo(x, y);
    x = convert_to_x_point(to_trade.time);
    y = convert_to_y_point(to_trade.min_price);
    canvasContext().lineTo(x, y);
    canvasContext().closePath();
    canvasContext().stroke();
  }

  convert_to_x_point = (time)=>{
    return time / canvasObj.width;
  }
  convert_to_y_point = (price)=>{
    min = parseInt($('[data-role=min_price]').html())
    max = parseInt($('[data-role=max_price]').html())
    position = max - price;
    frame = ((max - min) / canvasObj.height)
    return position / frame;
  }

  draw_chart = (date)=>{
    get_day(date)
  }

  $(()=>{
    draw_chart('#{@current_day}')
  })
