h1 Charts

table
  tr
    td style='vertical-align: top' data-role='max_price'
    td rowspan=3
      canvas id="chart" width="500" height="500"
  tr
    td
  tr
    td style='vertical-align: bottom' data-role='min_price'

javascript:
  sample_draw_chart = ()=>{
    canvas = document.getElementById('chart')
    csWidth  = canvas.width,
    csHeight = canvas.height,
    ctx = canvas.getContext('2d')
    ctx.beginPath();
    ctx.moveTo(10, 50);
    ctx.lineTo(20, 5);
    ctx.closePath();
    ctx.stroke();
  }
  canvas_context = ()=>{
    return(document.getElementById('chart').getContext('2d'));
  }

  get_day = (date)=>{
    $.get("/charts/" + date + "/day").
      success((response) => {
        var prev_trade = undefined;
        console.log(response.min_price)
        $('[data-role=min_price]').html(response.min_price);
        $('[data-role=max_price]').html(response.max_price);

        $.each(response.trades, (index, trade)=>{
          if(prev_trade === undefined){
            prev_trade = trade;
            return true;
          }
          // console.log(trade);
          draw_one_line(prev_trade, trade);
        })
      })
  }
  draw_one_line = (from_trade, to_trade)=>{
    x = convert_to_x_point(from_trade.time);
    y = convert_to_y_point(from_trade.min_price);
    canvas_context().beginPath();
    canvas_context().moveTo(x, y);
    x = convert_to_x_point(to_trade.time);
    y = convert_to_y_point(to_trade.min_price);
    canvas_context().lineTo(x, y);
    canvas_context().closePath();
    canvas_context().stroke();
  }

  convert_to_x_point = (time)=>{
    return 1;
  }
  convert_to_y_point = (price)=>{
    return 20;
  }

  draw_chart = (date)=>{
    get_day(date)
  }

  $(()=>{
    draw_chart('#{DateTime.now.to_date}')
  })
