.dialog {
  position: fixed;
  .close_button {
    position: absolute;
    top: 0px;
    right: 10px;
  }
  .body {
    position: absolute;
    border-style: solid;
    width: 300px;
    top: 0px;
    left: 0px;
    margin: 10px;
    padding: 10px;
    &.notice {
      background-color: white;
      color: black;
    }
    &.error {
      background-color: red;
      color: white;
    }
  }
}
