.header {
  max-width: 1000px;

  .bf-tabs {
    display: flex;
    border-left: 1px solid black;
    width: auto;
    flex-wrap: wrap;

    .tab {
      border-right: 1px solid black;
      padding-right: 15px;
      padding-left: 15px;
      border-bottom: 1px solid black;

      &.active {
        border-bottom: 3px solid red;
      }
    }
  }
}
