tr.closed,tr.succeed, td.succeed {
  background-color: silver;
}

tr.canceled {
  background-color: yellow;
}

th.span1 {
  width: 80px;
  overflow: hidden;
}

th.span2 {
  width: 160px;
  overflow: hidden;
}


.table {
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
  &.left {
    width: 400px;
  }
  &.right{
    width: 450px;
  }
}
